body{
    margin-left: 0px;
}

.heading{
    color:black;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

.username,.password{
margin-top: 4px;
width:300px;
height: 20px;
padding-left:3px;
padding-top:3px;
padding-bottom: 3px;
margin-bottom: 18px;
}

input::placeholder {
    color: rgba(36, 33, 33, 0.687);
    font-size:14px ;
    font-family:Arial, Helvetica, sans-serif;
    font: bold;
}


.login{
   margin-top: 6px;
    color: white;
    background-color: rgb(49, 153, 217);
    text-align: center;
    width: 80px;
    height: 35px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top:4px;
    padding-bottom: 4px;
    margin-right: 6px;
}

.sign-up{
    text-decoration: none;
    color:rgb(49, 153, 217);
}


.password,.activate
{
    text-decoration: none;
    color:rgb(49, 153, 217);
}


.text-below{
    color:rgb(90, 85, 85);
    font-family: Arial, Helvetica, sans-seri;
}

.custom-checkbox,.password{
align-items: center;

}

.footer {
    margin: 0;
    background-color: rgb(215, 213, 213); 
    padding: 10px 0;
    bottom: 0;
    left: 25px;
    right: 0;
}
