.card
{
    background: linear-gradient(90deg, pink, purple);
    width: 100%;
}
.list-group-item {
    display: flex;
    align-items: center;
    padding: 10px 15px; 
}

.list-group-item .task-text {
    flex-grow: 1; 
    margin-left: 10px;
}



.list-group-item.checked .task-text { 
    text-decoration: line-through;
    color: gray;
}
.list-group-item .form-check-input:checked {
    background-color: purple;
    border-color: pink;
   
}
.list-group-item .close {
    cursor: pointer;
    color: purple;
    font-size: 1.2em;
}

.edit{
    cursor: pointer;
}
